.EndCard {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin: 5em 0 10em 0;
}

.EndCard__title {
  text-align: center;
}

.EndCard__description {
  font-size: 1.5em;
  font-weight: lighter;
  text-align: center;
}

.EndCard__button {
  background-color: var(--button-background-color);
  border: none;
  border-radius: 5px;
  color: var(--primary-text-color);
  font-size: 1em;
  font-weight: lighter;
  margin: 1em 0 0 0;
  padding: 1em;
  transition: background-color 0.4s;
  white-space: nowrap;
}

.EndCard__button:hover {
  background-color: var(--primary-color);
  cursor: pointer;
  text-align: center;
}

.EndCard__button>.fa-windows {
  font-size: 1.25em;
  margin: 0 0 0 0.3em;
}