.HamburgerMenu {
  background: transparent;
  border: none;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

@media (min-width: 50em) {
  .HamburgerMenu {
    display: none;
  }
}

.HamburgerMenu:hover {
  cursor: pointer;
}

.HamburgerMenu__line {
  background: linear-gradient(to right, var(--brand-color), #0F0F0F);
  border-radius: 5px;
  height: 0.45rem;
  width: 2.25rem;
}