.HamburgerMenu {
  background: transparent;
  border: none;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

@media (min-width: 64em) {
  .HamburgerMenu {
    display: none;
  }
}

.HamburgerMenu:hover {
  cursor: pointer;
}

.HamburgerMenu__line {
  background: linear-gradient(to right, var(--brand-color) 50%, #0F0F0F);
  height: 0.125rem;
  width: 2rem;
}