.container {
  display: inline-block;
  margin: 2em 0 0 0;
}

.container>p {
  animation: typing 4s linear infinite, blink 1s step-start infinite;
  border-right: 3px solid var(--primary-color);
  color: var(--primary-text-color);
  font-family: monospace;
  font-size: 1.75em;
  margin: 0 auto;
  overflow: hidden;
  text-align: center;
  white-space: nowrap;
}

@media (min-width: 50em) {
  .container>p {
    font-size: 2.125em;
  }
}

.container>p::after {
  animation: trigger 4s linear infinite;
  content: "$hello";
  display: inline-block;
}

@keyframes typing {
  from {
    width: 0;
  }

  25% {
    width: 100%;
  }

  30% {
    width: 0%;
  }

  50% {
    width: 100%;
  }

  to {
    width: 100%;
  }
}

@keyframes trigger {
  from {
    content: "$hello";
  }

  60%,
  to {
    content: "Hello, my name is Reginald";
  }
}

@keyframes blink {

  from,
  to {
    border-right-color: transparent;
  }

  50% {
    border-right-color: var(--primary-color);
  }
}