.Home {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  margin: 4rem 0 0 0;
}

.Home .hero {
  align-items: center;
  background: radial-gradient(#2B1800 10%, black 90%);
  background-blend-mode: darken;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.Home .hero__image {
  animation: 6s ease-in infinite hover;
  box-shadow: 2px 2px 12px black;
  width: 150px;
}

.Home .hero__title {
  animation: 1.25s linear fade-in;
}

.Home .hero__description {
  margin-top: 0.5rem;
  text-align: center;
}

.Home .hero__github-buttons {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.Home .divider {
  background: radial-gradient(var(--brand-color), #f25d05);
  margin: 0rem -1.25rem;
  padding: 2rem;
}

.Home .divider__title {
  text-align: center;
  text-shadow: 0 0 1px gray;
}

.Home .divider__title > p {
  background: linear-gradient(to bottom right, black, gray);
  background-clip: text;
  display: inline-block;
  text-decoration: overline 1.5px solid #333;
  text-shadow: 0 0 0 transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.Home .cards {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  margin: 0 auto;
}

@media (min-width: 50em) {
  .Home .cards {
    max-width: 720px;
  }
}

@media (min-width: 72em) {
  .Home .cards {
    max-width: 1080px;
    gap: 8rem;
  }
}

.Home .card {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

@media (min-width: 72em) {
  .Home .card {
    flex-direction: row;
  }
}

@media (min-width: 72em) {
  .Home .card--reverse {
    flex-direction: row-reverse;
  }
}

.Home .card__body {
  border-left: 1px solid #333;
  display: flex;
  flex-basis: 50%;
  flex-direction: column;
  gap: 1.5rem;
  padding: 0 0 0 1rem;
}

.Home .card__body--reverse {
  border-left: unset;
  border-right: 1px solid #333;
  padding: 0 1rem 0 0;
  text-align: right;
}

.Home .card__text-expansion {
  display: inline-block;
  margin: 0 auto;
}

.Home .card__text-expansion > p {
  animation: typing 4s linear infinite, blink 1s step-start infinite;
  border-right: 3px solid var(--brand-color);
  color: var(--primary-text-color);
  font-family: monospace;
  font-size: 1.75em;
  margin: 0 auto;
  overflow: hidden;
  text-align: center;
  white-space: nowrap;
}

@media (min-width: 50em) {
  .Home .card__text-expansion > p {
    font-size: 2.125em;
  }
}

.Home .card__text-expansion > p::after {
  animation: trigger 4s linear infinite;
  content: "$hello";
  display: inline-block;
}

.Home .end {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0 0 2rem 0;
}

.Home .end__title {
  text-align: center;
}

@keyframes blink {
  from,
  to {
    border-right-color: transparent;
  }

  50% {
    border-right-color: var(--brand-color);
  }
}

@keyframes hover {
  from {
    transform: translateY(-0.5rem);
  }

  50% {
    transform: translateY(0.5rem);
  }

  to {
    transform: translateY(-0.5rem);
  }
}

@keyframes trigger {
  from {
    content: "$hello";
  }

  60%,
  to {
    content: "Hello, my name is Reginald";
  }
}

@keyframes typing {
  from {
    width: 0;
  }

  25% {
    width: 100%;
  }

  30% {
    width: 0%;
  }

  50% {
    width: 100%;
  }

  to {
    width: 100%;
  }
}