.Home {
  padding: 4rem 0;
}

.hero {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.hero__image {
  /*animation: 3s ease-in infinite hover;*/
  width: 150px;
}

.hero__description {
  margin-top: 0.5rem;
  text-align: center;
}

@keyframes hover {
  from {
    margin-top: 0.5rem;
  }

  50% {
    margin-top: -0.5rem;
  }

  to {
    margin-top: 0.5rem;
  }
}