.InfoCard {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 4em 0;
  text-align: center;
}

@media (max-width: 67.5em) {
  .InfoCard {
    flex-direction: column !important;
  }
}

@media (min-width: 67.5em) {
  .InfoCard {
    flex-direction: row;
    text-align: left;
  }
}

.InfoCard__info {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1.25em;
  margin: 0 auto;
  max-width: 720px;
}

.InfoCard__info__title {
  font-size: 3em;
  text-align: center;
}

.InfoCard__info__description {
  color: var(--secondary-text-color);
}

.InfoCard__image {
  width: 100%;
}

@media (max-width: 35em) {
  .InfoCard__image {
    width: 100% !important;
  }
}

@media (min-width: 67.5em) {
  .InfoCard__image {
    width: 720px;
  }
}