.MainCard {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 0.0625em;
  margin: 4em;
}

@media (min-width: 50em) {
  .MainCard {
    margin: 5em;
  }
}

.MainCard__logo {
  width: 125px;
}

.MainCard__header {
  font-weight: 600;
}

.MainCard__subheader {
  animation: fadein 1s linear forwards;
  font-weight: lighter;
  text-align: center;
  transition: opacity 1s;
}

.MainCard__buttons {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin: 1.25em;
}

@media (min-width: 50em) {
  .MainCard__buttons {
    flex-direction: row;
  }
}

.MainCard__buttons>button {
  background-color: var(--button-background-color);
  border: none;
  border-radius: 5px;
  color: var(--primary-text-color);
  font-size: 1em;
  font-weight: lighter;
  padding: 1em;
  transition: background-color 0.4s;
  white-space: nowrap;
}

.MainCard__buttons>button:hover {
  background-color: var(--primary-color);
  cursor: pointer;
  text-align: center;
}

.MainCard__buttons__download {
  text-align: center;
}

.MainCard__buttons__download>.fa-windows {
  font-size: 1.25em;
  margin: 0 0 0 0.3em;
}

.MainCard__buttons__source>.fa-github {
  font-size: 1.25em;
  margin: 0 0 0 0.3em;
}

.MainCard__note {
  color: var(--ternary-text-color);
  font-size: 0.8em;
  margin: -1em 0 0 0;
  text-align: center;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}