:root {
  box-sizing: border-box;
  --brand-color: #F98D4D;
  --primary-background-color: #EEE;
  --primary-text-color: #EEE;
}

*,
::before,
::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

a {
  color: var(--primary-text-color);
  text-decoration: none;
  transition: color 0.2s linear;
}

a:hover {
  color: var(--brand-color);
}

body {
  background: #080500;
  background-attachment: fixed;
  color: var(--primary-text-color);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  margin: 0 auto;
  padding: 1rem;
}

@media (min-width: 50em) {
  body {
    max-width: 720px;
    padding: 1rem 0;
  }
}

@media (min-width: 72em) {
  body {
    max-width: 1080px;
  }
}

h1 {
  font-weight: lighter;
  font-size: 2.5rem;
}

p {
  font-weight: lighter;
}