:root {
  box-sizing: border-box;
  --brand-color: #F98D4D;
  --primary-background-color: #EEE;
  --primary-text-color: #EEE;
  --secondary-text-color: #DDD;
  --ternary-text-color: #BBB;
}

*,
::before,
::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

a {
  color: var(--primary-text-color);
  text-decoration: none;
  transition: color 0.2s linear;
}

a:hover {
  color: var(--brand-color);
}

body {
  background: #080500;
  background-attachment: fixed;
  color: var(--primary-text-color);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  margin: 0 auto;
  padding: 1rem 1.25rem;
}

@media (min-width: 50em) {
  body {
    padding: 1rem 0;
  }
}

h1 {
  font-weight: lighter;
  font-size: 2.5rem;
}

h2 {
  color: var(--secondary-text-color);
  font-weight: lighter;
  font-size: 2rem;
}

h3 {
  color: var(--ternary-text-color);
  font-weight: lighter;
  font-size: 1.75rem; 
}

img {
  width: 100%;
}

kbd {
  border: 0.5px solid gray;
  border-radius: 5px;
  display: inline-block;
  font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
  font-size: 0.75rem;
  margin: 0 0.05rem;
  padding: 0.125rem 0.5rem;
}

p {
  font-weight: lighter;
}